@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.header{
  border:1px;
  padding-left: 40px;
  padding-rightt: 5px;
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px;
  font-size: 25px;
  margin-top: 30px;
}

@media(max-width:1140px){
  .header{
    padding-left: 45px;
    font-size: 40px;
  }
}
 body {
 background-color:black;
  }

a{
  color:white;
  text-decoration: none;
  text-align: center;
  font-family: 'MaplestoryOTFBold';
}
